mat-card{
    margin: auto;
    width: 50%;
    margin-top: 30px;
}
.table{
    margin:auto;
    width: 50%;
}

table{
    margin: auto;
    width: 50%;
}
td{
    width: auto;
}

p{
    padding: 30px;
}